In [1]:
import requests
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
r = requests.get('https://collectionapi.metmuseum.org/public/collection/v1/search?q=sunflowers')
res = r.json()

In [17]:
res.objectIDs

AttributeError: 'dict' object has no attribute 'objectIDs'

In [19]:
sunflower_ids = res['objectIDs']

In [24]:
ga = [20149,2032,437329,436524,16822570]

In [25]:
for i in sunflower_ids:
    if i in ga:
        print(i)

436524
2032
437329

In [26]:
r_test = requests.get(f'https://collectionapi.metmuseum.org/public/collection/v1/objects/437980')
obj_test = r_test.json()

In [63]:
mega = pd.DataFrame(columns={"objectID","title","artistDisplayName","department","objectBeginDate","objectEndDate","period","objectName","culture"})
maga = pd.DataFrame()

In [64]:
for i in ga:
    try:
        r_test = requests.get(f'https://collectionapi.metmuseum.org/public/collection/v1/objects/{i}')
        obj_test = r_test.json()
        #maga.append(pd.io.json.json_normalize(obj_test))
        nr = ({"objectID" : obj_test['objectID'],
              "title" : obj_test['title'],
              "artistDisplayName": obj_test['artistDisplayName'],
              "department" : obj_test['department'],
              "objectBeginDate":obj_test['objectBeginDate'],
              "objectEndDate":obj_test['objectEndDate'],
              "period":obj_test['period'],
              "objectName":obj_test['objectName'],
              "culture":obj_test['culture']
             })
        mega = pd.concat([nr,mega])
    except:
        continue

In [65]:
mega

Empty DataFrame
Columns: [title, period, culture, objectID, artistDisplayName, objectEndDate, objectName, department, objectBeginDate]
Index: []

In [40]:
t = '5'
g = 'sdfkjhsdkf/'
v = g+t

In [41]:
v

'sdfkjhsdkf/5'

In [66]:
mega2 = pd.DataFrame(columns={"objectID","title","artistDisplayName","department","objectBeginDate","objectEndDate","period","objectName","culture"})

In [80]:
r_test = requests.get(f'https://collectionapi.metmuseum.org/public/collection/v1/objects/436524')
obj_test = r_test.json()
#maga.append(pd.io.json.json_normalize(obj_test))
nr = {"objectID" : obj_test['objectID'],
      "title" : obj_test['title'],
      "artistDisplayName": obj_test['artistDisplayName'],
      "department" : obj_test['department'],
      "objectBeginDate":obj_test['objectBeginDate'],
      "objectEndDate":obj_test['objectEndDate'],
      "period":obj_test['period'],
      "objectName":obj_test['objectName'],
      "culture":obj_test['culture']
     }
x = pd.DataFrame(data=nr)
mega2 = pd.concat([mega2,x])

ValueError: If using all scalar values, you must pass an index

In [77]:
for i in sunflower_ids:
    try:
        r_test = requests.get(f'https://collectionapi.metmuseum.org/public/collection/v1/objects/{i}')
        obj_test = r_test.json()
        maga = maga.append(pd.io.json.json_normalize(obj_test))
    except:
        continue

/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """

In [78]:
maga

,message,objectID,isHighlight,accessionNumber,accessionYear,isPublicDomain,primaryImage,primaryImageSmall,additionalImages,constituents,...,classification,rightsAndReproduction,linkResource,metadataDate,repository,objectURL,tags,objectWikidata_URL,isTimelineWork,GalleryNumber
0,ObjectID not found,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,2032.0,False,10.125.29,1910,True,https://images.metmuseum.org/CRDImages/ad/orig...,https://images.metmuseum.org/CRDImages/ad/web-...,[https://images.metmuseum.org/CRDImages/ad/ori...,None,...,,,,2023-02-07T04:46:51.34Z,"Metropolitan Museum of Art, New York, NY",https://www.metmuseum.org/art/collection/searc...,"[{'term': 'Flowers', 'AAT_URL': 'http://vocab....",https://www.wikidata.org/wiki/Q116371803,False,714
0,NaN,437329.0,True,46.160,1946,True,https://images.metmuseum.org/CRDImages/ep/orig...,https://images.metmuseum.org/CRDImages/ep/web-...,[],"[{'constituentID': 162270, 'role': 'Artist', '...",...,Paintings,,,2022-10-20T04:55:06.267Z,"Metropolitan Museum of Art, New York, NY",https://www.metmuseum.org/art/collection/searc...,"[{'term': 'Suffering', 'AAT_URL': 'http://voca...",https://www.wikidata.org/wiki/Q19911410,True,
0,NaN,436524.0,False,49.41,1949,True,https://images.metmuseum.org/CRDImages/ep/orig...,https://images.metmuseum.org/CRDImages/ep/web-...,[],"[{'constituentID': 161947, 'role': 'Artist', '...",...,Paintings,,,2023-02-28T04:47:13.3Z,"Metropolitan Museum of Art, New York, NY",https://www.metmuseum.org/art/collection/searc...,"[{'term': 'Still Life', 'AAT_URL': 'http://voc...",https://www.wikidata.org/wiki/Q9213165,False,825
0,ObjectID not found,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,NaN,437980.0,False,49.30,1949,True,https://images.metmuseum.org/CRDImages/ep/orig...,https://images.metmuseum.org/CRDImages/ep/web-...,[],"[{'constituentID': 161947, 'role': 'Artist', '...",...,Paintings,,,2023-02-28T04:47:13.3Z,"Metropolitan Museum of Art, New York, NY",https://www.metmuseum.org/art/collection/searc...,"[{'term': 'Landscapes', 'AAT_URL': 'http://voc...",https://www.wikidata.org/wiki/Q867510,True,825
0,Not a valid object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,834580.0,False,21.94.1(31),1921,False,,,[],"[{'constituentID': 78534, 'role': 'Artist', 'n...",...,Prints,,,2023-02-01T04:47:05.943Z,"Metropolitan Museum of Art, New York, NY",https://www.metmuseum.org/art/collection/searc...,None,,False,
0,NaN,834585.0,False,21.94.1(32),1921,False,,,[],"[{'constituentID': 78534, 'role': 'Artist', 'n...",...,Prints,,,2023-02-01T04:47:05.943Z,"Metropolitan Museum of Art, New York, NY",https://www.metmuseum.org/art/collection/searc...,None,,False,
0,NaN,834765.0,False,21.94.1(30),1921,False,,,[],"[{'constituentID': 78534, 'role': 'Artist', 'n...",...,Prints,,,2023-02-01T04:47:05.943Z,"Metropolitan Museum of Art, New York, NY",https://www.metmuseum.org/art/collection/searc...,None,,False,

In [81]:
xxx = pd.DataFrame()

In [82]:
for i in sunflower_ids:
    a = requests.get(f'https://collectionapi.metmuseum.org/public/collection/v1/objects/{i}')
    x=a.json()
    xxx.append(pd.io.json.json_normalize(x))

/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  after removing the cwd from sys.path.

In [83]:
xxx

Empty DataFrame
Columns: []
Index: []

In [89]:
sui = pd.DataFrame(columns={"objectID","title","artistDisplayName","department","objectBeginDate","objectEndDate","period","objectName","culture"})

In [97]:
for i in sunflower_ids:
    try:
        r_test = requests.get(f'https://collectionapi.metmuseum.org/public/collection/v1/objects/{i}')
        obj_test = r_test.json()
        #maga.append(pd.io.json.json_normalize(obj_test))
        dff = pd.DataFrame({'objectID' : [obj_test['objectID']],
              'title' : [obj_test['title']],
              'artistDisplayName': [obj_test['artistDisplayName']],
              'department' : [obj_test['department']],
              'objectBeginDate':[obj_test['objectBeginDate']],
              'objectEndDate':[obj_test['objectEndDate']],
              'period':[obj_test['period']],
              'objectName':[obj_test['objectName']],
              'culture':[obj_test['culture']]
             })
        mega = pd.concat([mega,dff])
    except:
        continue

In [91]:
sui

,title,period,culture,objectID,artistDisplayName,objectEndDate,objectName,department,objectBeginDate
0,Sunflowers,,,436524,Vincent van Gogh,1887,Painting,European Paintings,1887
0,Sunflowers,,,484935,Edward McKnight Kauffer,1921,Painting,Modern and Contemporary Art,1921
0,Bouquet of Sunflowers,,,437112,Claude Monet,1881,Painting,European Paintings,1881
0,Vase with sunflowers,,,210191,Rozenburg Plateelfabriek,1896,Vase,European Sculpture and Decorative Arts,1896
0,Sunflowers,,,431264,Lily Converse,1941,Print,Drawings and Prints,1941
...,...,...,...,...,...,...,...,...,...
0,James-Jacques-Joseph Tissot (1836–1902),,,436144,Edgar Degas,1868,Painting,European Paintings,1867
0,Cypresses,,,437980,Vincent van Gogh,1889,Painting,European Paintings,1889
0,"A Life in a Year–The Garden–Noon, from ""Pictur...",,,834580,Arthur Boyd Houghton,1874,Print,Drawings and Prints,1866
0,"A Life in a Year–The Garden–Noon, from ""Pictur...",,,834585,Arthur Boyd Houghton,1874,Print,Drawings and Prints,1866
0,"A Child's Garden, from ""Picture Poesies""",,,834765,Arthur Boyd Houghton,1874,Print,Drawings and Prints,1865

In [ ]:
436524
2032
437329

In [99]:
test = pd.DataFrame(columns={"objectID","title","artistDisplayName","department","objectBeginDate","objectEndDate","period","objectName","culture"})

In [104]:
r_test = requests.get(f'https://collectionapi.metmuseum.org/public/collection/v1/objects/436524')
obj_test = r_test.json()
#maga.append(pd.io.json.json_normalize(obj_test))
try:
    dff = pd.DataFrame({'objectID' : [obj_test['objectID']],
          'title' : [obj_test['title']],
          'artistDisplayName': [obj_test['artistDisplayName']],
          'department' : [obj_test['department']],
          'objectBeginDate':[obj_test['objectBeginDate']],
          'objectEndDate':[obj_test['objectEndDate']],
          'period':[obj_test['period']],
          'objectName':[obj_test['objectName']],
          'culture':[obj_test['culture']]
         })
    test = pd.concat([test,dff])
except:
    print('asdf')

In [105]:
test

,title,period,culture,objectID,artistDisplayName,objectEndDate,objectName,department,objectBeginDate
0,Chest with drawer,,American,2032,,1705,Chest with drawer,The American Wing,1705
0,The Abduction of the Sabine Women,,,437329,Nicolas Poussin,1634,Painting,European Paintings,1633
0,Sunflowers,,,436524,Vincent van Gogh,1887,Painting,European Paintings,1887

In [106]:
sui.groupby('culture').agg({'culture':'count'})

                  culture
culture
                       75
American                9
Ancestral Pueblo        1
British                 1
Japan                   1

In [107]:
r = requests.get('https://collectionapi.metmuseum.org/public/collection/v1/search?departmentId=6&q=cat')
cats = r.json()

In [108]:
cats

{'total': 3068,
 'objectIDs': [49698,
  49470,
  53222,
  36221,
  60873,
  70541,
  752008,
  43402,
  47358,
  49467,
  54747,
  54626,
  55919,
  59775,
  55923,
  36075,
  50826,
  57204,
  53653,
  42922,
  56602,
  47051,
  47052,
  72842,
  69780,
  59121,
  38952,
  39199,
  38177,
  59903,
  73809,
  59763,
  49050,
  58462,
  38158,
  38160,
  39092,
  50780,
  38162,
  38994,
  45282,
  55948,
  54124,
  59248,
  36411,
  58779,
  53441,
  73046,
  671015,
  42932,
  45065,
  56780,
  42915,
  59249,
  36346,
  38949,
  51660,
  38452,
  670898,
  39764,
  39698,
  69410,
  68841,
  55148,
  76442,
  37011,
  36621,
  58218,
  54445,
  57560,
  56070,
  41681,
  53590,
  50827,
  46723,
  45667,
  36539,
  55967,
  55914,
  58002,
  39699,
  75200,
  57106,
  54809,
  38176,
  38951,
  38293,
  75909,
  38462,
  38315,
  52995,
  52994,
  53005,
  53422,
  671014,
  73158,
  70582,
  670965,
  75747,
  671023,
  74813,
  53408,
  53203,
  53007,
  53200,
  53457,
  53231,
  53416,
  53001,
  53234,
  53414,
  52996,
  53006,
  53410,
  53002,
  53176,
  671016,
  670994,
  54540,
  53419,
  53221,
  761386,
  53439,
  671056,
  53456,
  53010,
  53219,
  53446,
  53241,
  53187,
  53167,
  53178,
  53179,
  72585,
  671024,
  50486,
  55802,
  53427,
  53165,
  53429,
  53175,
  40507,
  43247,
  74421,
  53157,
  53190,
  53172,
  670891,
  39901,
  670920,
  53449,
  670943,
  78227,
  56128,
  667348,
  670908,
  45640,
  54576,
  54567,
  53660,
  73352,
  670916,
  670949,
  670883,
  670910,
  671036,
  670989,
  671042,
  49151,
  670894,
  670947,
  670882,
  670938,
  662782,
  671039,
  53458,
  670917,
  68411,
  74423,
  36118,
  53444,
  53426,
  64872,
  670974,
  48950,
  670968,
  671035,
  53230,
  45358,
  76091,
  69670,
  77871,
  76458,
  72747,
  45359,
  39902,
  54184,
  53453,
  670897,
  670995,
  40487,
  76769,
  65584,
  44292,
  39111,
  73355,
  670921,
  671007,
  671005,
  73358,
  670993,
  53424,
  36315,
  53228,
  670981,
  38926,
  53454,
  41483,
  53465,
  670950,
  670942,
  54774,
  671026,
  670928,
  77657,
  74424,
  69860,
  670979,
  671046,
  671055,
  671050,
  53443,
  53466,
  671008,
  56901,
  671028,
  671027,
  53409,
  670915,
  53401,
  78670,
  53245,
  765654,
  61429,
  38304,
  78195,
  38940,
  39331,
  38490,
  78197,
  53202,
  39076,
  52987,
  53421,
  53246,
  53445,
  53423,
  65392,
  53405,
  670913,
  53008,
  671031,
  53183,
  48942,
  73359,
  53174,
  671020,
  53238,
  37800,
  38265,
  40478,
  77799,
  670951,
  76462,
  670963,
  61658,
  72381,
  38945,
  57062,
  62744,
  52988,
  53404,
  39635,
  38330,
  64893,
  37854,
  38341,
  57612,
  38335,
  38011,
  38930,
  38159,
  39357,
  53406,
  670923,
  53004,
  53207,
  53199,
  659913,
  670542,
  670541,
  53455,
  670540,
  65394,
  53189,
  670904,
  670887,
  670933,
  49129,
  670896,
  670907,
  671032,
  670903,
  670960,
  53892,
  53195,
  670889,
  65417,
  45756,
  727181,
  54779,
  53181,
  671052,
  52946,
  41493,
  52990,
  53461,
  53451,
  53430,
  39413,
  42219,
  38435,
  40528,
  38202,
  74906,
  39639,
  38509,
  53447,
  53448,
  53154,
  53156,
  53226,
  53237,
  60473,
  40257,
  42733,
  42693,
  671001,
  700508,
  42162,
  49238,
  53223,
  40524,
  644664,
  40510,
  45657,
  53194,
  671017,
  671034,
  670945,
  53242,
  54773,
  45746,
  670961,
  53162,
  53163,
  54782,
  38228,
  74448,
  36451,
  40222,
  38157,
  37427,
  38261,
  37410,
  38168,
  38263,
  37414,
  38178,
  38196,
  38132,
  39892,
  39037,
  38328,
  38960,
  38499,
  39026,
  39160,
  39544,
  39154,
  51475,
  51476,
  37686,
  37687,
  37541,
  38170,
  38082,
  37699,
  37702,
  37704,
  37691,
  38171,
  37727,
  38112,
  37706,
  38105,
  38116,
  38185,
  38089,
  38091,
  38424,
  38925,
  38928,
  38242,
  38276,
  38285,
  38491,
  38428,
  38289,
  38346,
  38931,
  39034,
  39060,
  39077,
  39007,
  39058,
  39035,
  39028,
  39016,
  38934,
  39003,
  39050,
  39051,
  39008,
  39027,
  38943,
  39012,
  39024,
  39014,
  39075,
  53463,
  43091,
  53186,
  42549,
  39883,
  39881,
  37971,
  38108,
  38498,
  42229,
  78188,
  39527,
  39524,
  39532,
  38598,
  78198,
  61549,
  42378,
  843764,
  38648,
  38950,
  39142,
  38468,
  843762,
  39957,
  53240,
  45812,
  48879,
  53415,
  53462,
  53450,
  36100,
  53212,
  53188,
  49174,
  53413,
  670970,
  45763,
  53158,
  52096,
  45795,
  53460,
  39482,
  53428,
  44797,
  38348,
  73200,
  75822,
  39097,
  36029,
  38125,
  42178,
  39167,
  39601,
  39602,
  39411,
  49253,
  37417,
  37418,
  37680,
  37683,
  37689,
  37688,
  37707,
  38086,
  37692,
  37711,
  38286,
  38924,
  38219,
  38998,
  39048,
  39049,
  39079,
  39062,
  39054,
  39053,
  39036,
  39047,
  39046,
  38777,
  49380,
  50897,
  692123,
  52777,
  42717,
  44798,
  49889,
  38131,
  37734,
  44523,
  38128,
  38260,
  38221,
  38224,
  37415,
  38245,
  39355,
  37426,
  38100,
  38093,
  38095,
  38119,
  38495,
  38489,
  38496,
  44918,
  53204,
  53012,
  49243,
  53013,
  670909,
  60485,
  49241,
  48927,
  45775,
  41491,
  53197,
  42547,
  37801,
  45637,
  39415,
  39322,
  38187,
  38223,
  49150,
  44348,
  72593,
  72485,
  72508,
  36131,
  37788,
  38788,
  76974,
  38372,
  76768,
  42727,
  41485,
  37750,
  37621,
  37755,
  37756,
  39209,
  39210,
  39207,
  51312,
  53259,
  53265,
  53389,
  53862,
  49146,
  45804,
  41488,
  60435,
  36090,
  60451,
  42447,
  56220,
  38635,
  38098,
  38111,
  38084,
  38103,
  38079,
  38081,
  38488,
  38487,
  38254,
  38974,
  38987,
  38986,
  48948,
  45428,
  44858,
  671043,
  78283,
  48969,
  45682,
  40080,
  39668,
  60441,
  60470,
  60469,
  60465,
  61825,
  62739,
  49021,
  38097,
  38222,
  670990,
  54209,
  44800,
  37966,
  60870,
  50688,
  39582,
  64921,
  44461,
  44891,
  42323,
  41470,
  44838,
  39649,
  52104,
  44910,
  44799,
  39096,
  39936,
  39915,
  722026,
  39918,
  76463,
  45776,
  40508,
  39550,
  49549,
  62953,
  733847,
  53009,
  41481,
  670952,
  45652,
  40081,
  671051,
  38575,
  38252,
  42703,
  42340,
  38210,
  39320,
  39707,
  37396,
  49074,
  53198,
  45675,
  41479,
  53180,
  670969,
  77863,
  854002,
  39931,
  662737,
  60437,
  40285,
  56786,
  55236,
  57005,
  56384,
  56214,
  36495,
  36498,
  45218,
  38303,
  63022,
  63024,
  63028,
  63023,
  48557,
  48511,
  48806,
  48807,
  48805,
  45995,
  45980,
  45946,
  45944,
  63000,
  47195,
  47250,
  47204,
  47249,
  47332,
  47761,
  47508,
  47943,
  63021,
  63029,
  63030,
  63025,
  63031,
  47571,
  39165,
  44859,
  50782,
  42169,
  42175,
  42170,
  42164,
  42176,
  42171,
  42165,
  42173,
  42167,
  42172,
  42166,
  42174,
  42168,
  49158,
  60443,
  40054,
  40512,
  56785,
  56727,
  56240,
  56217,
  45030,
  41753,
  63038,
  47835,
  76565,
  76568,
  76571,
  76561,
  48765,
  47979,
  47971,
  48651,
  48748,
  48778,
  48556,
  48773,
  48728,
  48541,
  48099,
  47975,
  48801,
  47974,
  47973,
  45556,
  45559,
  44440,
  45553,
  44441,
  45560,
  45558,
  45557,
  45561,
  52444,
  52357,
  52479,
  52478,
  52355,
  56856,
  56855,
  53469,
  56854,
  46000,
  45823,
  45839,
  45972,
  45828,
  45943,
  45825,
  45824,
  45904,
  45881,
  45977,
  45926,
  45936,
  45949,
  45966,
  46010,
  45922,
  45827,
  46002,
  45988,
  45871,
  45838,
  45959,
  45918,
  45853,
  45993,
  45861,
  45826,
  45892,
  46005,
  46983,
  47100,
  46600,
  47004,
  46498,
  46482,
  46114,
  47005,
  46971,
  47001,
  47097,
  47000,
  46510,
  46975,
  46488,
  47067,
  47096,
  47066,
  46974,
  46486,
  46500,
  47048,
  47087,
  46686,
  47038,
  46496,
  46696,
  46107,
  47003,
  47046,
  46972,
  46576,
  46487,
  46698,
  46511,
  46990,
  46103,
  46848,
  46090,
  47090,
  47002,
  47095,
  62382,
  63003,
  63006,
  62993,
  62933,
  62938,
  62992,
  63015,
  62911,
  62996,
  62998,
  62913,
  62561,
  63020,
  62934,
  62916,
  62936,
  63007,
  62941,
  62940,
  62924,
  47140,
  47397,
  47331,
  47327,
  47214,
  47150,
  47261,
  47141,
  47180,
  47304,
  47146,
  47181,
  47353,
  47474,
  47260,
  47385,
  47268,
  47392,
  47202,
  47262,
  47222,
  47415,
  47224,
  47182,
  47151,
  47193,
  47197,
  47414,
  47416,
  47391,
  47444,
  47183,
  47228,
  47119,
  47168,
  47363,
  47637,
  47658,
  47544,
  47968,
  47477,
  47543,
  47478,
  47542,
  47902,
  47846,
  47594,
  47721,
  47967,
  47948,
  47541,
  47959,
  47661,
  47568,
  47830,
  47498,
  47940,
  47869,
  47525,
  47870,
  47593,
  47915,
  47695,
  47928,
  47479,
  47499,
  47537,
  47785,
  47969,
  47719,
  47618,
  62912,
  63004,
  62919,
  62999,
  62917,
  62943,
  62914,
  62942,
  62995,
  63040,
  63047,
  63034,
  63048,
  63049,
  63042,
  63033,
  63054,
  63046,
  63041,
  63036,
  63044,
  63057,
  62937,
  62918,
  62994,
  62910,
  62939,
  63002,
  76574,
  41774,
  46977,
  47572,
  47636,
  50217,
  52352,
  52349,
  52345,
  52344,
  48871,
  44936,
  44922,
  44937,
  44448,
  45554,
  45555,
  46968,
  48870,
  41749,
  41773,
  63035,
  ...]}

In [111]:
cat_ids =cats['objectIDs']

In [144]:
wq = pd.DataFrame(columns={"objectID","title","artistDisplayName","department","objectBeginDate","objectEndDate","period","objectName","culture"})

In [143]:
test_cats = cat_ids[:1000]

In [142]:
len(test_cats)

1001

In [118]:
for i in test_cats:
    try:
        r_test = requests.get('https://collectionapi.metmuseum.org/public/collection/v1/search?departmentId={i}&q=cat')
        obj_test = r_test.json()
        #maga.append(pd.io.json.json_normalize(obj_test))
        dff = pd.DataFrame({'objectID' : [obj_test['objectID']],
              'title' : [obj_test['title']],
              'artistDisplayName': [obj_test['artistDisplayName']],
              'department' : [obj_test['department']],
              'objectBeginDate':[obj_test['objectBeginDate']],
              'objectEndDate':[obj_test['objectEndDate']],
              'period':[obj_test['period']],
              'objectName':[obj_test['objectName']],
              'culture':[obj_test['culture']]
             })
        yyy = pd.concat([yyy,dff])
    except:
        continue

In [119]:
yyy

Empty DataFrame
Columns: [title, period, culture, objectID, artistDisplayName, objectEndDate, objectName, department, objectBeginDate]
Index: []

In [128]:
r_test = requests.get('https://collectionapi.metmuseum.org/public/collection/v1/search?departmentId=36221')
obj_test = r_test.json()
#maga.append(pd.io.json.json_normalize(obj_test))

dff = pd.DataFrame({'objectID' : [obj_test['objectID']],
      'title' : [obj_test['title']],
      'artistDisplayName': [obj_test['artistDisplayName']],
      'department' : [obj_test['department']],
      'objectBeginDate':[obj_test['objectBeginDate']],
      'objectEndDate':[obj_test['objectEndDate']],
      'period':[obj_test['period']],
      'objectName':[obj_test['objectName']],
      'culture':[obj_test['culture']]
     })
test = pd.concat([test,dff])

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [121]:
test

,title,period,culture,objectID,artistDisplayName,objectEndDate,objectName,department,objectBeginDate
0,Chest with drawer,,American,2032,,1705,Chest with drawer,The American Wing,1705
0,The Abduction of the Sabine Women,,,437329,Nicolas Poussin,1634,Painting,European Paintings,1633
0,Sunflowers,,,436524,Vincent van Gogh,1887,Painting,European Paintings,1887

In [126]:
t = requests.get('https://collectionapi.metmuseum.org/public/collection/v1/search?departmentId=59775&q=cat')
g = t.json()

In [127]:
g

{'total': 0, 'objectIDs': None}

In [145]:
for i in test_cats:
    try:
        r_test = requests.get(f'https://collectionapi.metmuseum.org/public/collection/v1/objects/{i}')
        obj_test = r_test.json()
        #maga.append(pd.io.json.json_normalize(obj_test))
        dff = pd.DataFrame({'objectID' : [obj_test['objectID']],
              'title' : [obj_test['title']],
              'artistDisplayName': [obj_test['artistDisplayName']],
              'department' : [obj_test['department']],
              'objectBeginDate':[obj_test['objectBeginDate']],
              'objectEndDate':[obj_test['objectEndDate']],
              'period':[obj_test['period']],
              'objectName':[obj_test['objectName']],
              'culture':[obj_test['culture']]
             })
        wq = pd.concat([wq,dff])
    except:
        continue

In [146]:
wq

,title,period,culture,objectID,artistDisplayName,objectEndDate,objectName,department,objectBeginDate
0,Cat,,China,49698,Zhang Yuguang,1968,Folding fan mounted as an album leaf,Asian Art,1900
0,Cat,Qing dynasty (1644–1911),China,49470,Wang Li,1879,Hanging scroll,Asian Art,1813
0,Musk Cat,Muromachi period (1392–1573),Japan,53222,Uto Gyoshi,1599,Hanging scroll,Asian Art,1550
0,Cat,,China,36221,Wang Yun,1933,Hanging scroll,Asian Art,1900
0,Head ornament,Song dynasty (960–1279) or later,China,60873,,1279,Head ornament,Asian Art,960
...,...,...,...,...,...,...,...,...,...
0,Square Flask,Edo period (1615–1868),Japan,46968,,1799,Square flask,Asian Art,1700
0,Chinese Child Playing a Game of Go,Edo period (1615–1868),Japan,48870,,1799,Ceramic,Asian Art,1767
0,Water Jar for the Tea Ceremony with Seven Sage...,Edo period (1615–1868),Japan,41749,,1799,Water jar,Asian Art,1700
0,Chinese Children Playing a Game of Go,Edo period (1615–1868),Japan,41773,,1799,Ceramic,Asian Art,1767
0,"Sake Bottle with Design of Leaves, Vines, and ...",Edo period (1615–1868),Japan,63035,,1780,Wine bottle,Asian Art,1780

In [158]:
wq.groupby('period',as_index=False).agg({'culture':'count'}).sort_values('culture',ascending=False)

                                               period  culture
18                             Edo period (1615–1868)      440
0                                                          122
67                           Qing dynasty (1644–1911)       45
14                            Eastern Javanese period       29
58                       Muromachi period (1392–1573)       29
..                                                ...      ...
9                                        Chola period        1
19                           Five Dynasties (907–960)        1
59  Muromachi period (1392–1573) or Momoyama perio...        1
60  Nanbokuchō (1336–92)–Muromachi (1392–1573) period        1
48  Ming dynasty (1368–1644), Chongzhen period (16...        1

[97 rows x 2 columns]

In [138]:
len(cat_ids)

3068

In [ ]:
cat